<header class="header">

  <nav class="nav-left">
    <a href="index.html">Accueil</a>
    <a href="index.html#histoire">Notre histoire</a>
  </nav>

  <div class="logo">
    <a href="index.html">
      <img src="images/logo french cookies.jpg" alt="logo">
    </a>
  </div>

  <nav class="nav-right">
    <a href="produits.html">Nos cookies</a>
    <a href="contact.html">Nous contacter</a>
  </nav>

  <!-- MENU BURGER -->
  <div class="burger">
    <div></div><div></div><div></div>
  </div>

  <!-- MENU MOBILE -->
  <div class="mobile-menu">
    <a href="index.html">Accueil</a>
    <a href="index.html#histoire">Notre histoire</a>
    <a href="produits.html">Nos cookies</a>
    <a href="contact.html">Nous contacter</a>
  </div>

</header>
